@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Roboto Mono regular*/
* {
  margin: 0;
  padding: 0;
  border: 0;
/*reset default style*/
}

body {
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  background-color: #1a1b21;
  color: #f0f0f0;
}

#nothing {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
