@import Favicon from "../components/favicon";

export default function DefaultLayout({
  children,
  faviconEmoji = "👋",
}) {
  return (
    <div>
      <Favicon emoji={faviconEmoji} />
      <main>{children}</main>
    </div>
  );
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Roboto regular*/

* {
  margin: 0;
  padding: 0;
  border: 0;
/*reset default style*/
}

body {
  font-size: 100%;
  font: inherit;
  font-family: 'Roboto', sans-serif;
}

.alltext {
    text-align: center;
}

.img1 {
    width: 50%;
    max-width: 600px;
    margin: auto;
    display: block;
}
